.left-bar {
  min-width: 200px;
  max-width: 200px;
  min-height: 88vh;
  background-color: black;
  margin: 0 0 -15px 0; // Спросить у Рената насчет отступов App и поменять
  border-radius: 50px 0 0 50px;
  background: linear-gradient(158.96deg, #9C99E8 -14.94%, #D5B8DA 102.93%);
  padding: 30px 20px 30px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__icon {
    max-width: 100%;
    height: auto;
  }
  &__nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__nav-item {
    font-family: 'Lato';
    font-weight: 700;
    font-size: 16px;
    color: #FFFFFF;
    text-decoration: none;
    text-align: start;
  }
  &__nav-item:not(:first-of-type) {
    margin: 60px 0 0 0;
  }
  &__nav-item:hover {
    text-decoration: none;
  }

  &__controlling {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__exit {
    font-family: 'Lato';
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
  }
  &__exit:hover {
    text-decoration: none;
  }
}