.modules {
  display: flex;
  justify-content: space-between;

  &__body {
    width: 70%;
    margin: 55px auto 30px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    a {
      text-align: start;
      font-weight: 700;
      font-size: 24px;
      color: #2F2F2F;
    }
  }

  &__inner {
    margin: 0 0 20px 0;
  }
  
  &__course-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__course-name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0 0 0;
  }
  &__course-stars {
    display: flex;
    align-items: center;

    img:not(:first-of-type) {
      margin: 0 0 0 10px;
    }
  }
}

.near-modules {
  display: grid;
  grid-template-columns: 48% 48%;
  justify-content: space-between;
  margin: 25px 0 0 0;
}

.passed-modules {
  margin: 20px 0 0 0;
  &__modules {
    display: grid;
    grid-template-columns: 48% 48%;
    justify-content: space-between;
    grid-gap: 5px;
  }
}