.container {
  position: relative;
  height: 100%;
  min-height: 88vh;
}

.course {
  display: flex;
  justify-content: space-between;

  &__body {
    width: 70%;
    margin: 55px auto 30px auto;
    position: relative;
  }
  &__back {
    position: absolute;
    top: 0;
    right: 0;
    &:hover {
      text-decoration: none;
    }
  }
  &__module {
    margin: 20px 0 0 0;
  }
  &__description {
    font-weight: 600;
    font-size: 10px;
    color: #302E2E;
    text-align: start;
    margin: 10px 0 0 0;
  }
}

.homework {
  &__input-block {
    background-color: #F2F2F2;
    margin: 10px 0 0 0;
    padding: 15px 20px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__input {
    width: 100%;
    background: none;
    border: none;
    outline: none;
    &:focus {
      background: none;
      border: none;
    }
  }
  &__input-functions {
    display: flex;
    align-items: center;
    padding: 0 0 0 20px;
  }
  &__attach-file {
    cursor: pointer;
  }
  &__send-file {
    cursor: pointer;
    margin: 0 0 0 20px;
  }

  &__history {
    margin: 20px 0 0 0;
  }
}

.messenge {
  display: flex;
  margin: 15px 0 0 0;

  &__person-info {
    margin: 0 0 0 15px;
  }

  &__person-text {
    display: flex;
    align-items: center;
  }
  
  &__person-file {
    text-decoration: underline;
    font-weight: 300;
    font-size: 10px;
    color: #959595;
    margin: 0 0 0 5px;
  }
}