.container {
  position: relative;
  height: 100%;
  min-height: 88vh;
  display: flex;
  position: relative;
  text-align: center;
  background-color: #fff;
  border-radius: 50px;
  height: 88vh;
  padding-bottom: 15px;
  width: 85%;
}

.content {
  padding: 50px 100px;
  width: 100%;
  text-align: left;
}

.image-info {
  width: 100%;
  display: flex;;
  margin-bottom: 20px;
}

.image {
  width: 201px;
  height: 260px;
  margin-right: 20px;
  background: #D9D9D9;
}

.info {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 60%;
}

.contacts {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.active-courses {
  margin-bottom: 35px;
}

.course-link {
  color: inherit;
  position: relative;
  margin-bottom: 10px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.buttons-column {
  display: flex;
  flex-direction: column;
  margin-right: 10px;

  button {
    margin-bottom: 8px;
  }
}

.payment-history-link {
  color: #999999;
  font-size: 10px;
  display: block;
  margin-bottom: 14px;
}

.stars-lives {
  width: 170px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
}

.attend-block {
  margin-bottom: 26px;
}

.attends {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.attend-circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #D9D9D9;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
}
.attend-circle.red {
  background-color: #F66159;
}
.attend-circle.yellow {
  background-color: #FFAE11;
}
.attend-circle.green {
  background-color: #6BB547;
}